body {
}

button {
}

.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 300px;
  margin: auto;
  padding: 0;
}

#list {
  width: 100px;
  height: 100px;
  background: red;
}
