body {
  font-size: 62.5%;
}

div {
  background-color: rgb(170, 101, 101);
  width: 250px;
  height: 300px;
  margin-top: 3rem;
  margin-right: 2rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  float: left;
  overflow: hidden;
}

div > h4 {
  text-align: left;
  margin: 10px 0;
  padding-left: 20px;
}

#noteContainer {
  width: 600px;
  height: 500px;
  margin: auto;
  text-align: center;
  background-color: white;
  display: block;
  float: none;
}

#inputNote {
  width: 60%;
}

#submitNote {
  width: 60px;
}
